body {
    height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

h1 {
    font-size: 8em;
    font-weight: 600em;
    text-align: center;
    font-style: italic;
}

h2 {
    font-size: 3em;
    text-align: center;
}

.quote {
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 2em;
    padding: 2em;
}

li {
    display: inline;
    padding: 8%;
}

a {
    color: black;
    font-size: 1.5em;
    font-weight: 300em;
}

h3 {
    color: black;
    font-size: 2em;
}

.resume {
    font-size: 1.5em;
    text-align: justify;

}

.certificat {
    text-align: center;

}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.flex>div {
    text-align: center;

}

.footer {
    text-align: center;
    bottom: 0%;
    margin-top: 20%;
}   